<div class="row h-100">

  <div class="col-6 container h-100" style="display: grid; place-items: center;">
      <h2 class="m-1">Bienvenido a <span>unicomer</span></h2>
  </div>
  <div class="col-6 h-100 right-container">
      <div>
          <h2>LOGO</h2>
      </div>
      <div *ngIf="change ; else elseBlock" class="row">
        <app-login-form></app-login-form> 
          
      </div>
      <ng-template #elseBlock>
        <!--<app-register-form></app-register-form> -->
      </ng-template>
      
  </div>
</div>

