<div class="col-lg-12 m-1 p-1">
    <div class="">
      <div class="card-body">
        <h5 class="card-title">Cargar datos</h5>

        <!-- Multi Columns Form -->
        <form class="row g-3">
          
          <div class="col-10">
            <label for="input" class="form-label">Documento</label>
            <input type="number" class="form-control" id="inputAddres5s">
          </div>
          <div class="col-md-10">
              <label for="input" class="form-label">Tipo de documento</label>
              <select id="input" class="form-select">
                <option selected>Elegir</option>
                <option>DNI</option>
                <option>Pasaporte</option>
              </select>
            </div>
          <div class="col-5">
            <label for="input" class="form-label">Clave</label>
            <input type="password" class="form-control" id="inputAddress2">
          </div>
          
          <button type="submit" class="btn btn-light btn-lg m-4">Ingresar</button>
    
        </form>


        <p class="text-center">Aun no estas registrado? <span>Registrate <a routerLink="/signin">aqui</a></span></p>

  </div>
