
<div class="col-12">
    <div class="card recent-sales overflow-auto">
<div class="card-body">
    <h5 class="card-title text-success">Reciente</h5>

    <table class="table table-borderless datatable">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><a href="#">Apple</a></th>
          <td>$55</td>
          <td><a href="#" class="text-primary">enero 2023</a></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
          </svg></td>
          <td><span class="badge text-success">Aprobado</span></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">Samsung</a></th>
          <td>$33</td>
          <td><a href="#" class="text-primary">marzo 2023</a></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
          </svg></td>
          <td><span class="badge text-secondary">Pendiente</span></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">Toyota</a></th>
          <td>$12</td>
          <td><a href="#" class="text-primary">enero 2022</a></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
          </svg></td>
          <td><span class="badge text-success">Aprobado</span></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">Shell</a></th>
          <td>$26</td>
          <td><a href="#" class="text-primary">octubre 2021</a></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
          </svg></td>
          <td><span class="badge text-success">Aprobado</span></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">Alibaba</a></th>
          <td>$17</td>
          <td><a href="#" class="text-primary">marzo 2023</a></td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"/>
          </svg></td>
          <td><span class="badge text-danger">Cancelado</span></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
</div><!-- End Recent Sales -->